# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Django
*.sqlite3
*.log
media/
staticfiles/

# Migrations (opcional — muitos projetos versionam as migrations)
# */migrations/*.py
# !*/migrations/__init__.py

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# Node (frontend)
node_modules/
.next/